

<h2>Send Text Reminder</h2>

<div style="border: solid; border-radius: 10px; padding: 10px; width: 300px; background-color: lightblue;">
  <form action="/twilio" method="post">
    <label style="font-weight: bold;">Select:</label>
    <div>
      <input type="checkbox" name="friends[+16618771576]" value="John">
      <label>John</label>
    </div>
    <div>
      <input type="checkbox" name="friends[+15305518459]" value="Kanji">
      <label>Kanji</label>
    </div>
    <div>
      <input type="checkbox" name="friends[+15109658997]" value="Anson">
      <label>Anson</label>
    </div>
    <br>  
    <div>
      <input name="message" placeholder="Enter Message">
      <br><br>
      <input type="submit" value="Send!">
    </div>
  </form>
</div>

# given a string return the reverse of the string without using the ruby reverse method
def reverse_string(input)
    reversed_string_array = []
    string_array = input.split('')

    string_array.length.times do
        reversed_string_array << string_array.pop
    end
    reversed_string_array.join('')
end
